*.swp
__pycache__/**
out/
core*
*.ipynb
# *.sh
*.bin
wandb
backup
*.pth
#*.txt
log/
*.json
*.xlsx
*.mp4
tools/*.jpg
tools/*.mp4
*.log
*.pyc
*.pkl
runs/**
**/__pycache__/**
pretrained_weight/
data/
logs/
**/__pycache__
checkpoints/**
demo/**
*.png